@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background-color: #FDFDFD;
  --black: #000;
  --white: #fff;
}

html{
  @media (max-width: 640px) {
    font-size: 12px;
  }
}


body {
  background-color: var(--main-background-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--black);
  padding-bottom: 5rem;
  min-height: 100vh;
}

main{
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

button{
  cursor: pointer;
  &:hover{
    opacity: 0.8;
    scale: 1.1;
  }
}